@using ViewModels
@model IEnumerable<RegisterViewModel>
@{
    ViewBag.Title = "EMPLOYEES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center card-heading">@ViewBag.Title</h2>
<div class="box">
    <hr />
    <div class="box-header card-heading">
        <h3 class="box-title">Registered Employees</h3>
    </div>
    <hr />
    <p></p>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="box-body">
            <div class="input-group m-md-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
                <input id="SearchInput" class="form-control" type="text" placeholder="Search by First Name..." onkeyup="SearchFunction()" />
            </div>
            <table id="Table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Surnmame</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Middle Name</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var admin in Model)
                    {
                        <tr>
                            <td>@admin.LastName</td>
                            <td>@admin.FirstName</td>
                            <td>@admin.OtherNames</td>
                            <td>@admin.UserName</td>
                            <td>@admin.Branch.Location</td>
                            <td>@admin.Email</td>
                            <td>
                                @Html.ActionLink("ASSIGN TILL", "AssignTillToUser", "TellerManagement", new { id = admin.EncryptedId }, new { @class = "btn btn-outline-primary btn-sm m-0 waves-effect" })
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">Surnmame</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Middle Name</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Email</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryTable")
